body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.likert-option {
  margin: 10px;
}
.custom-likert {
  justify-content: center;
}
.my-spinner {
  margin: 25px;
  justify-content: center;
}

.my-checkbox-value {
  text-align: center;
  align-items: center;
  padding-left: 10px;
  text-align: left;
}

.add-spacing {
  margin-top: 5px;
}

.outer {
  text-align: left;
}

.individual-question {
  margin: 20px;
}

.empty-text {
  color: white;
}

.checkbox-text {
  padding-top: 10px;
}

.other-box {
  padding-right: 10px;
}